<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div style="text-align: center;" *ngIf="isLoading">
                <app-loading-symbol></app-loading-symbol>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="isError && !isLoading">
                    {{ errorMessage }}
            </div>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" id="email" class="form-control" ngModel name="email" required email>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" ngModel name="passowrd" required
                        minlength="6">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"
                        [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up'}}</button> |
                    <button type="button" class="btn btn-success"
                        (click)="onSwitchMode()">{{isLoginMode ? 'Switch To Sign Up' : 'Switch To Login'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>