<form [formGroup]="myForm" (ngSubmit)="onAddOrEditRecipe()">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-success pull-left" value="Save" [disabled]="!myForm.valid"><span
                    style="display:inline-block; width: 3px;"></span>
                <input type="button" class="btn btn-danger" value="Cancel" (click)="onClear()">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <label for="recipeName">Name</label>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="recipeName" formControlName="name">
                </div>
                <br>
                <div class="row">
                    <label for="recipeDescription">Description</label>
                </div>
                <div class="row">
                    <textarea class="form-control" rows="5" id="recipeDescription"
                        formControlName="description"></textarea>
                </div>
                <br>
                <div class="row">
                    <label for="recipeURL">Image URL</label>
                </div>
                <div class="row">
                    <input type="url" class="form-control" id="recipeURL" formControlName="imageUrl" #ImageUrl>
                </div>
                <div class="row">
                    <img [src]="ImageUrl.value" class="img-responsive">
                </div>
            </div>
        </div>
        <hr>
        <h4>Ingredients</h4>
        <div class="row">
            <div class="col-md-8">
                <label for="ingredientName">Name</label>
            </div>
            <div class="col-md-4">
                <label for="ingredientAmount">Amount</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" formArrayName="ingredients">
                <div class="row" *ngFor="let ingredientControl of getControls(); let i = index " [formGroupName]="i"
                    style="margin-top: 10px;">
                    <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" formControlName="amount">
                    </div>
                    <div class="col-md-2">
                        <button class="btn mce-btn-small btn-danger" (click)="onDeleteIngredient(i)">X</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add
                            Ingredient</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>