<div class="row">
        <div class="col-xs-12">
            <img src="{{ recipe.imageUrl }}" alt="">
        </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{ recipe.name }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="p-5 btn btn-primary dropdown-toggle">Manage Recipe <span style="display:inline-block; width: 3px;"></span><span
                    class="p-5 caret"></span></button>
            <div class="dropdown-menu">
                <li><a class="dropdown-item" (click)="addIngToSL()">ShoppingList</a></li>
                <li><a class="dropdown-item" (click)="editRecipe()">Edit</a></li>
                <li><a class="dropdown-item" >Delete</a></li>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{ recipe.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer;"
                *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>
<!-- <div class="row">
    <div class="col-xs-12">
        <img src="{{ recipe.imageUrl }}" alt="">
    </div>
</div> -->