<div class="row">
    <div class="col-xs-12">
        <form action="#">
            <div class="row">
                <div class="col-xs-5">
                    <label for="nameLabel">Name</label>
                    <input type="text" class="form-control" name="name" id="nameLabel">
                </div>
                <div class="col-xs-2">
                    <label for="amountLabel">Amount</label>
                    <input type="number" class="form-control" name="amount" id="amountLabel">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style=".btn-space { margin: 5px;}">
                    <button class="btn btn-success btn-space" type="submit">Add</button>
                    <button class="btn btn-danger btn-space" type="button">Delete</button>
                    <button class="btn btn-primary btn-space " type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>